.git
.gitignore
.vscode

.dockerignore

Dockerfile*
docker-compose*
README.md
LICENSE

cicd
dockerfiles
docs
node_modules
scripts

npm-debug.log

packages/*/coverage
packages/*/build
packages/*/node_modules
