# See https://help.github.com/articles/ignoring-files/ 
# for more about ignoring files.

# OSX specific
.DS_Store

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
**/coverage

# build 
**/build
**/dist
**/temp

# env files, except example
.env
.env.*
!.env.example

# log and backup files
**/*.log
**/*.bak
**/*.tmp

# editors
.vscode
.idea
.eslintcache

# secrets
**/*secrets.json
**/*.secrets.env
**/*.secrets.yaml
**/*secrets.dec.json
**/*.secrets.dec.env
**/*.secrets.dec.yaml
