@energon:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@beans:registry=https://nexus.ourtesco.com/repository/online-web-group/
@energon-connectors:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@energon-components:registry=https://nexus.ourtesco.com/repository/colleague-ui/
